[Desktop Entry]
Version=1.0
Type=Application
Name=MyGNUHealth
Name[ca]=MyGNUHealth
Name[ca@valencia]=MyGNUHealth
Name[en_GB]=MyGNUHealth
Name[es]=MyGNUHealth
Name[nl]=MyGNUHealth
Name[nn]=MyGNUHealth
Name[sv]=Min GNU hälsa
Name[uk]=MyGNUHealth
Name[x-test]=xxMyGNUHealthxx
GenericName=Personal Health Record
GenericName[ca]=Registre personal de salut
GenericName[ca@valencia]=Registre personal de salut
GenericName[en_GB]=Personal Health Record
GenericName[es]=Registro de salud personal
GenericName[nl]=Persoonlijk medisch document
GenericName[nn]=Personleg helsejournal
GenericName[sv]=Personlig journal
GenericName[uk]=Особисті записи стану здоров'я
GenericName[x-test]=xxPersonal Health Recordxx
Comment=GNU Health Personal Health Record
Comment[ca]=Registre personal de salut GNU Health
Comment[ca@valencia]=Registre personal de salut GNU Health
Comment[en_GB]=GNU Health Personal Health Record
Comment[es]=Registro de salud personal de GNU
Comment[nl]=GNU Health persoonlijk medisch document
Comment[nn]=GNU Health personleg helsejournal
Comment[sv]=GNU personlig hälsojournal
Comment[uk]=Особистий запис стану здоров'я GNU Health
Comment[x-test]=xxGNU Health Personal Health Recordxx
Keywords=Healthcare;Medicine;Bioinformatics;Management;Enterprise;ERP;Framework;Client;
Keywords[ca]=Salut;Medicina;Bioinformàtica;Gestió;Corporació;ERP;Entorn de treball;Client;
Keywords[ca@valencia]=Salut;Medicina;Bioinformàtica;Gestió;Corporació;ERP;Entorn de treball;Client;
Keywords[en_GB]=Healthcare;Medicine;Bioinformatics;Management;Enterprise;ERP;Framework;Client;
Keywords[es]=Asistencia médica;Medicina;Bioinformática;Gestión;Empresa;ERP;Infraestructura;Cliente;
Keywords[nl]=Gezondheidszorg;Medicijnen;Bio-informatica;Beheer;Onderneming;ERP;Framework;Client;
Keywords[nn]=helse;medisin;bioinformatic;handsaming;bedrift;ERP;rammeverk;klient;
Keywords[sv]=Sjukvård;Medicin;Bioinformation;Ledning;Företag;Affärssystem;Ramverk;Klient
Keywords[uk]=Healthcare;Medicine;Bioinformatics;Management;Enterprise;ERP;Framework;Client;стан здоров'я;медицина;охорона здоров'я;керування;промислове;оболонка;клієнт;
Keywords[x-test]=xxHealthcarexx;xxMedicinexx;xxBioinformaticsxx;xxManagementxx;xxEnterprisexx;xxERPxx;xxFrameworkxx;xxClientxx;
Exec=mygnuhealth %u
Icon=mygnuhealth
Terminal=false
Categories=Office;Finance;
